body{
    background-color:#4a759c;
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    line-height: 1.6;
}
img {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 150px;    
  height: 100px;               
  border-radius: 50%;
}
>>>>>>> a1ad6d509fe19c1d28abe80277e7bb39179f4b1e