body{
    background-color:#4a759c;
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    line-height: 1.6;
}
h2 {
  color: white;
  text-align: center;
}
p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}